[submodule "src/components/icons"]
	path = crates/mikoui/components/icons
	url = https://github.com/lucide-icons/lucide
[submodule "src/components/codicon"]
	path = crates/mikoui/components/codicon
	url = https://github.com/microsoft/vscode-codicons
